.frontpage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 800px;
    object-fit: cover ;
    object-position: 0 25% ;
    border-radius: 5px;
}
.link{
    text-align: center;
    font-size: xx-large;
    text-shadow: 1px  1px black;
}
.title{
    text-align: center;
    font-size: 100px;
    font-family: Brush Script MT sans-serif;
    color: rgb(151, 243, 255);
    text-shadow: 4px 4px black, -2px -2px red;
}
body{
    background-color: rgb(255, 244, 214);
}

a{
    text-decoration: none;
}
a:visited{
    color: rgb(250, 0, 0);
}
.hambur{
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 35px;
}
#hambur1{
    border-radius: 75%;height: auto;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.list{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    padding: 20px;
    line-height: 35px;
    
}
ol, ul{
    list-style-type: none;
}
p, h3{
    text-align: center;
    font-weight: 400;
    font-size: x-large;
}
.button{
    margin-right: 25px;
    text-align: end;
    font-size: 35px;
    font-weight: bold;  
    text-shadow: 1px 1px rgb(19, 0, 0);
    
}
strong{
    color:red;
    font-size: 35px;
    text-shadow: 1px 1px black;
}

h2{
    text-align: center;
}
.ig{
    height: auto;
    width: 50px;
    margin-left: 90%;
    margin-top: 1%;
}
.elden{
    background-image: url(https://3.bp.blogspot.com/-o3_cDoiG39A/XR40yhe7YrI/AAAAAAAAIGc/cY6cxAvFoKccsNeL9piv-X9OEn-tquZJwCKgBGAs/w2560-h1440-c/elden-ring-logo-uhdpaper.com-4K-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.ring{
    color: white;
}
.generic{
background-image: url(https://img.freepik.com/free-photo/shimmery-pink-paint-textured-background_53876-102630.jpg?t=st=1654792324~exp=1654792924~hmac=8a6cb65ae09f67bc6802a435de0a193bad931bb527c2a3a4304a714c78e40e03&w=996);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#ekis{
    font-size: 0px;
}
.panchito{
    height: auto;
    width: 100px;
}